[Unit]
Description=Start auth-fw server

[Service]
Type=notify
ExecStart=/usr/bin/auth-fw
User=security_fw
Group=security_fw
SmackProcessLabel=System
Sockets=auth-fw-passwd-check.socket
Sockets=auth-fw-passwd-set.socket
Sockets=auth-fw-passwd-reset.socket
Sockets=auth-fw-passwd-policy.socket

[Install]
WantedBy=multi-user.target
