[Unit]
Description=Csr web protection socket
Wants=csr.service
Before=csr.service

[Socket]
ListenStream=/tmp/.csr-wp.socket
Service=csr.service
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@

[Install]
WantedBy=sockets.target
