[Unit]
Description=Shutdown Animation
DefaultDependencies=no
Before=shutdown.target

[Service]
User=application
Group=application

EnvironmentFile=/run/tizen-system-env
EnvironmentFile=/run/xdg-root-env

Type=oneshot
SmackProcessLabel=System
ExecStart=/usr/bin/boot-animation --off
