[Unit]
Description= Csr popup socket
Wants=csr-popup.service
Before=csr-popup.service

[Socket]
ListenStream=/tmp/.csr-popup.socket
Service=csr-popup.service
SocketMode=0777

[Install]
WantedBy=sockets.target
